* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #1a1d23;
  --pink: #ff57b2;
  --white: #f8f8f8;
  --gray-dark: #bbbb;
  --gray-light: #d7d7d7;
}

body {
  background: var(--background);
  color: var(--white);

  max-width: 700px;
  margin: 0 auto;

  font-family: 'Inter', sans-serif;
}
